{{ define "head" }}
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="icon" type="img/png" href="/static/icon.png" />
  <script src="/static/js/htmx.min.js"></script>
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.slate.min.css"
  />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap"
    rel="stylesheet"
  />

  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<style>
  body {
    font-family: "Space Grotesk", Arial, Helvetica, sans-serif;
  }
</style>
{{ end }}
