{{ define "layout" }}
<body hx-boost="true">
  <div class="grid-content">
    <div class="sidebar">{{ template "nav" . }}</div>

    <div class="content">
      <div id="main">{{ template "view" .}}</div>
      <div>{{ template "footer" . }}</div>
    </div>
  </div>
  <style>
    this {
      --border: 1px solid var(--pico-secondary-border);
    }

    this .grid-content {
      display: grid;
      height: 100dvh;
      grid-template-columns: repeat(10, 1fr);
    }

    this .sidebar {
      grid-column: span 1;
      padding: 1rem;
      border-right: var(--border);
    }

    this .content {
      grid-column: span 9;
      overflow: auto;
      padding: 1rem;
    }
  </style>
</body>
{{ end }}
