{{ define "nav" }}
<div>

	<nav>

		<div class="util-container nav-wrapper">

			<div class="logo">
				Logo
			</div>

			<div class="links">

				<a href="/">
					link
				</a>

				<a href="/">
					link
				</a>

				<a href="/">
					link
				</a>


				<a href="/">
					<div class="util-btn">
						Start
					</div>
				</a>

			</div>

		</div>

	</nav>

	<style>
		this nav {
			color: var(--primary);
			background-color: var(--base);
			font-size: 1rem;
		}

		this .nav-wrapper {
			display: flex;
			align-items: center;
			height: var(--nav-height);
		}

		this .logo {
			flex: 1;
		}

		this .links {
			display: flex;
			align-items: center;
			gap: 2rem;
		}
	</style>
</div>
{{ end }}