{{ define "layout" }}

<div>
	<div class="layout-grid-container">
		<div class="label">Date</div>
		<div class="label">Hours</div>
		<div class="label">Timeline</div>
		{{ range .Collection}}
		<div class="date">{{ .DateStr }}</div>
		<div class="docket">{{ .Docket.Hours}}hrs {{ .Docket.Minutes }}mins</div>
		<div class="gantt-grid-container">
			{{ range .Tasks }}
			<div class="gantt-item">
				{{ printf "%.0f" .ActualDuration.Float64 }}
				<style>
				this {
					text-align: center;
					position: relative;
					grid-row: 1 / 2;
					grid-column: {{ add (mul .CreatedAt.Hour 60) .CreatedAt.Minute }} / {{ add (add (mul .FinishedAt.Time.Hour 60) .FinishedAt.Time.Minute) 1 }};

				}
				</style>
			</div>
			{{ end }}
		</div>
		{{ end }}

		<div>&NonBreakingSpace;</div>
		<div>&NonBreakingSpace;</div>
		<div class="gantt-grid-container">
			<div style="grid-column: 1 / span 59; text-align: center;">
				0</div>
			{{range $index, $value := seq 1 23}}
			<div
				style="grid-column: {{ add 1 (mul $value 60) }} / span 59; text-align: center; border-left: 1px solid var(--anduril-metal);">
				{{ $value }}</div>
			{{end}}
		</div>

		<div>total</div>
		<div>{{ .Docket.Hours}}hrs {{ .Docket.Minutes }}mins</div>
		<div>&NonBreakingSpace;</div>
	</div>

	<style>
		this {
			min-height: 100dvh;
			padding: 2rem;

			--anduril-titan: #4E5354;
			--anduril-metal: #6F7473;
			--anduril-white: #E2E5E0;
			--anduril-blue: #007D9C;

			--linear-dark-blue: #12132D;
			--linear-navy: #010314; 
			background: radial-gradient(circle at bottom right, var(--linear-dark-blue) 0, var(--linear-navy), var(--linear-dark-blue) 100%);
			color: var(--anduril-white);
		}

		this .label {
			text-align: center;
			text-decoration: underline;
			margin-bottom: 1rem;
		}

		this .date,
		this .docket {
			font-family: 'Courier New', Courier, monospace;
			display: flex;
			align-items: center;
		}

		this .docket {
			text-align: right;
		}

		this .layout-grid-container {
			display: grid;
			grid-template-columns: auto auto 1fr;
			column-gap: 1rem;
			border-radius: 1rem;
			padding: 1rem;
		}

		this .gantt-grid-container {
			display: grid;
			grid-template-columns: repeat(1440, 1fr);
			background: #191919;
			margin: 2rem;
			box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
			border-radius: 2px;
			/* minutes in a day = 1440 */
		}

		this .gantt-item {
			--lime: #D1FEA4;
			--sky: #A2F9FC;

			--gradient: linear-gradient(to right, var(--sky), var(--lime));

		
			background: var(--gradient);
			text-align: center;
			color: black;
			text-indent: -9999px;
			margin: 2px;
			border-radius: 2px;

			&:hover {
				text-indent: 0;
			}
		}

		this .bar-label {
			position: absolute;
			right: 0;
			top: 0;

		}
	</style>

</div>
{{ end }}
