{{ define "view" }}
<article>
  <header>
    <h2>{{ .Task.TaskId }}</h2>
  </header>
  <table>
    <tr>
      <td>Name</td>
      <td>{{ .Task.TaskName }}</td>
    </tr>
    <tr>
      <td>Estimated</td>
      <td>{{ PrintTimeHHMMSS .Task.EstimatedDurationSeconds }}</td>
    </tr>
    <tr>
      <td>Actual</td>
      <td>{{ PrintTimeHHMMSS .Task.ActualDurationSeconds.Int64 }}</td>
    </tr>
    <tr>
      <td>Created At</td>
      <td>{{ .Task.CreatedAt }}</td>
    </tr>
    <tr>
      <td>Finished At</td>
      <td>{{ .Task.FinishedAt.Time }}</td>
    </tr>
    <tr>
      <td>Completed</td>
      <td>{{ .Task.Completed }}</td>
    </tr>
    <tr>
      <td>Completion Percent</td>
      <td>{{ .Task.CompletionPercent.Float64 }}</td>
    </tr>
    <tr>
      <td>Blocker Enabled</td>
      <td>{{ .Task.BlockerEnabled }}</td>
    </tr>
    <tr>
      <td>Screen Recording Enabled</td>
      <td>{{ .Task.ScreenEnabled }} {{ .Task.ScreenURL.String }}</td>
    </tr>
    <tr>
      <td>Tag</td>
      <td>
        {{ if .Task.BucketId.Valid}} {{ .Task.BucketId.Int64 }} {{ else }}
        &mdash; {{ end }}
      </td>
    </tr>
  </table>
  <footer>
    <div class="grid">
      <a role="button" href="/tasks/edit/{{ .Task.TaskId }}">edit</a>
      <a class="contrast" role="button">delete</a>
    </div>
  </footer>
</article>
<a href="/tasks">back</a>
{{ end }}
