{{ define "head" }}

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>go+htmx</title>

	<link rel="stylesheet" href="../static/css/reset.css">
	<link rel="icon" type="img/png" href="../static/icon.png">


	<!-- charts css -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/charts.css/dist/charts.min.css">


	<!-- Development no-cache -->
	<meta http-equiv="cache-control" content="no-cache">

	<script src="https://unpkg.com/htmx.org@1.9.9"
		integrity="sha384-QFjmbokDn2DjBjq+fM+8LUIVrAgqcNW2s0PjAxHETgRn9l4fvX31ZxDxvwQnyMOX" crossorigin="anonymous">
		</script>
	<script src="https://cdn.jsdelivr.net/gh/gnat/css-scope-inline/script.js"></script>
	<script src="https://cdn.jsdelivr.net/gh/gnat/surreal/surreal.js"></script>
</head>

{{ end}}