{{ define "view" }}
<div>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Date</th>
        <th>Actual Duration</th>
        <th>Completed</th>
      </tr>
    </thead>

    <tbody>
      {{ range .Tasks}}
      <tr>
        <td>{{ .Name }}</td>
        <td>{{ .CreatedAt }}</td>
        <td>{{ .ActualDuration.Float64 }}</td>
        <td>{{ .Completed}}</td>
      </tr>
      {{ end }}

      <tr>
        <td>{{ .Total }}</td>
      </tr>
    </tbody>
  </table>

  <style>
    this table,
    this tr {
      border: 1px solid black;
    }
  </style>
</div>
{{ end }}
